
   <!-- Navigation Bar -->
   <nav class="navbar">
    <div class="logo">
      <div class="logo" [routerLink]="['/']">
        <img src="assets/images/m.png" alt="Logo" width="100%" height="100%" >
        </div>
    </div>
    <div class="essai">
      <p>OCEANIC</p>
    </div>
    <!-- <div class="d-flex">

      <button routerLink="/pages/produits" class="btn btn-sm btn-primary ml-2"> Gestion des employés</button>

      <button routerLink="/pages/departments" class="btn btn-sm btn-primary ml-2"> Gestion des dépatements</button>
      </div>
    -->
</nav>
